*{
    padding: 0;
    margin: 0;
    font-family: sans-serif
}
body{
    background: #000
}
.nav-bar{
    display: flex;
    padding: 2% 4%;
}
.nav-logo img{
    width: 135px;
}
.nav-links{
    flex: 1;
    text-align: right
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul a {
    color: #ffea00;
    text-decoration: none;
    font-size:18px; 
}
.hero{
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
   
}  
h1{
   font-size: 60px;
   color: transparent;
   -webkit-text-stroke: 1px #ffea00; 
   background-image: url('../images/back.png');
   -webkit-background-clip: text;
   background-position: 0 0;
   animation: back 20s linear infinite;
}

@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}

.btn{
    width: 160px;
    height: 50px;
    border: 1px solid #ffea00;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
}
.btn p{
    font-size: 20px;
    padding-top: 12px;
    font-weight: bold;
    color: #ffea00;
    position: relative;
    transition: 1s;
}
span{
    width: 80px;
    height: 80px;
    top: 80px;
    position: absolute;
    border-radius: 50%;
    background-color: #ffea00;
    z-index: -1;
    transition: 1s;

}
span:nth-child(1){
    left: -20px;
    transition-delay: 0.1s
}
span:nth-child(2){
    left: 30px;
    transition-delay: 0.3s

}
span:nth-child(3){
    left: 80px;
    transition-delay: 0.5s

}
span:nth-child(4){
    left: 125px;
    transition-delay: 0.7s

}
.btn:hover span{
    top: -10px;
}
.btn:hover p{
    color: black;
}
.menu-icon{
    display: none;
    width: 26px; 
}
@media(max-width: 700px){
.hero h1{
  font-size: 26px;
  margin-bottom: 10%;
}
.nav-links ul li{
    display: block;
    font-size: 12px;
}
.nav-links ul{
padding: 3px 3px;
}
.nav-links{
    margin-top: 30px;
}
.nav-logo{
    margin-top: 10px;
    margin-left: 10px;
}
.menu-icon{
    display: block;
    top: 20px;
    right: 35px;
    position: absolute;
    cursor: pointer;
}
#mobileMenu{
    height: 0;
    overflow: hidden;
    transition: 1s;
    t
}
}
.link{
color:yellow;
font-size:20px;
margin:30px;
}











